# Import Libraries and Read the Dataset:

In [37]:
import numpy as np
import pandas as pd
import math
import re
import string
from collections import Counter

path = "moviereviews.csv"
df = pd.read_csv(path)

# Exploratory Data Analysis:
    1. Handling Null Values
    2. Handling Duplicate Values

In [38]:
df.isna().any()
df.isna().sum()
df['review'].nunique()

13

In [39]:
df['review'].drop_duplicates(inplace = True)
df['review'].nunique()

13

In [40]:
df.shape

(13, 2)

In [41]:
df.describe()

,movie,review
count,13,13
unique,13,13
top,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
freq,1,1

In [42]:
original_rows = df.shape[0]
df.drop_duplicates(subset='review', inplace=True)
remaining_rows = df.shape[0]

if remaining_rows < original_rows:
    print("Duplicates have been dropped.")
else:
    print("No duplicates found.")

No duplicates found.

In [43]:
df.drop_duplicates(subset='review', inplace=True)
total_rows = len(df)
print("Total rows after dropping duplicates:", total_rows)

Total rows after dropping duplicates: 13

# Adding all the reviews to one variable

In [44]:
all_text = ' '.join(df['review'].values)
all_text = re.sub(r'http\S+', '', all_text)
all_text = re.sub(r'@\S+', '', all_text)
all_text = re.sub(r'#\S+', '', all_text)

# Split the text into individual words

In [45]:
words = all_text.split()

# count frequency of words repeated overall

In [ ]:
word_counts = Counter(words)
top_words = word_counts.most_common(100)
top_words

# Create a bar chart of the most common words

In [ ]:
top_words = word_counts.most_common(10) # Change the number to show more/less words
x_values = [word[0] for word in top_words]
y_values = [word[1] for word in top_words]
plt.bar(x_values, y_values)
plt.xlabel('Word')
plt.ylabel('Frequency')
plt.title('Most Commonly Used Words')
plt.show()